/****General****/
* {
    font-family: "Poppins";
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../imagenes/backgr.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-decoration: none;
}

/****Barra de navegacion****/
.navbar {
    position: fixed;
    padding-left: 60px;
    padding-right: 20px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: #00000000;
}

.navbar-brand img {
    width: 65px;
}

.nav-link {
    color: #ed9fff;
    transition: 0.2s;
    font-size: 18px;
    transition: 0.5s;
}

.nav-link:hover {
    color: #43f7fc;
    font-size: 18.5px;
}

.nav-item .disabled {
    color: #8b8b8b;
    background-color: #c8b2f5;
}

.navbar-nav .dropdown-menu {
    background-color: #c8b2f5;
}

.dropdown-item {
    background-color: #c8b2f5;
    color: #1e0f3e;
    transition: 0.5s;
}

.dropdown-item:hover {
    background-color: white;
}

.lang {
    font-size: 35px;
    color: #ed9fff;
    margin-right: 30px;
    transition: 0.2s;
}

.lang:hover {
    font-size: 36px;
    color: #43f7fc;
}

.progr {
    margin-top: 10px;
    margin-right: 30px;
}

/****INDEX****/
.intro {
    margin: 150px 15%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.imagen {
    padding: 10%;
}

.imagen img {
    width: 400px;
}

/****Texto como codigo***/
.typewriter {
    text-align: left;
    margin-top: 150px;
    color: #ecc3f5;
    font-family: "Poppins";
}

#typewriter-hello {
    font-size: 60px;
}

.typewriter-text,
.typewriter-subtext .typewriter-subtext2 {
    font-family: "Poppins";
    font-size: 40px;
    /* Para evitar saltos de línea */
}

.typewriter-subtext {
    font-family: "Poppins";
    margin-top: 30px;
    margin-bottom: -2px;
    font-size: 30px;
}

.typewriter-subtext2 {
    font-family: "Poppins";
    font-size: 30px;
}

.typewriter-underscore {
    color: #43f7fc;
    font-family: "Poppins";
    display: inline-block;
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/****Experiencia****/
.experience-section {
    display: grid;
    margin: 100px 80px;
    grid-template-columns: 40% 60%;
    column-gap: 10px;
}

.seccion-1 {
    margin-top: 75px;
}

.seccion-1 .titulo {
    color: #ecc3f5;
    font-family: "Poppins";
    text-align: center;
    font-size: 60px;
}

.seccion-1 .descripciones {
    color: #e887ff;
    font-family: "Poppins";
    text-align: center;
    font-size: 22px;
}

.boton-cv {
    color: #43f7fc;
    font-family: "Poppins";
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 30px 30%;
    border: #43f7fc solid 2px;
    border-radius: 8px;
}

.slideshow-container {
    width: 65%;
}

.slideshow-container img {
    border-radius: 20px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -60px;
    color: #43f7fc;
    font-size: 60px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 45%;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: #e887ff;
}

/* The dots/bullets/indicators */
.dota {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 20px 15px;
    border-radius: 50%;
    background-color: #a923ce;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.puntos .active,
.dota:hover {
    background-color: #43f7fc;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/****HABILIDADES****/
.skills-container {
    margin: 0px 20% 200px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
}

.skills-container .grid-item img {
    width: 80px;
    height: auto;
    transition: 0.5s;
}

.skills-container .grid-item img:hover {
    transform: scale(1.15);
    filter: brightness(1.15);
}

/****TRABAJOS****/
.trab {
    padding: 30px 80px;
    background-color: #7e00f8;
    border-radius: 20px;
    margin: 18px;
    box-shadow: -15px 15px 4px rgba(0, 0, 0, 0.5);
    filter: opacity(0.5);
    transition: 0.5s;
}

.trab:hover {
    transform: scale(1.02);
    box-shadow: -15px 15px 4px rgba(0, 0, 0, 0);
    filter: opacity(1);
}

.section-title h2 {
    border-bottom: #c8b2f5 2px solid;
    color: #c8b2f5;
    padding: 10px;
    margin: 20px 35% 150px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 35px;
}

.trab-item {
    margin-bottom: 40px;
    background-color: #7e00f8;
    border-radius: 20px;
    font-family: "Montserrat";
    transition: 1s;
}

.trab-item img {
    background-color: #ffffff00;
    width: 100%;
}

.trab-item .logoexp h3 {
    font-size: 24px;
    font-weight: bold;
    color: #c8b2f5;
    margin-bottom: 10px;
    background-color: #7e00f8;
    font-family: "Montserrat";
}

.trab-item h4 {
    font-size: 18px;
    color: #a952ff;
    margin-bottom: 5px;
    background-color: #7e00f8;
    font-family: "Montserrat";
    font-weight: bold;
}

.trab-date {
    font-size: 14px;
    color: #a952ff;
    margin-bottom: 15px;
    background-color: #7e00f8;
    font-family: "Montserrat";
    font-weight: bold;
}

.trab-description {
    font-size: 16px;
    line-height: 1.6;
    color: #c8b2f5;
    background-color: #7e00f8;
    font-family: "Montserrat";
}



/****Seccion del Footer****/
ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid white;
}

.single-cta i {
    color: #96A0F0;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
    text-decoration: none;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    text-decoration: none;

}

.cta-text a span {
    color: #96A0F0;
    font-size: 15px;
    text-decoration: underline;
    text-decoration-color: #4956b9;
    transition: 0.5s;
}

.cta-text a span:hover {
    color: white;
    font-size: 16px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-logo {
    margin: -30px 0px 10px 0px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #96A0F0;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    text-decoration: none;
}

.footer-social-icon i {
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    font-size: 30px;
    transition: 0.5s;
}

.footer-social-icon i:hover {
    font-size: 31px;
    color: #96A0F0;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #96A0F0;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #fff;
    font-size: 16px;
}

.footer-widget ul li a {
    color: #96A0F0;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.5s;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.subscribe-form:hover {
    transform: scale(1.02);
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #242c66;
    border: 1px solid #242c66;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #96A0F0;
    padding: 13px 20px;
    border: 1px solid #96A0F0;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #242c66;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #96A0F0;
}

.copyright-text p span a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.copyright-text p span a:hover {
    color: #96A0F0;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
    transition: 0.5s;
}

.footer-menu li:hover a {
    color: #fff;
    font-size: 16px;
}

.footer-menu li a {
    font-size: 14px;
    color: #96A0F0;
    transition: 0.5s;
}

/****Estilos de Texto****/
.style1 {
    font-family: "Montserrat";
    color: #FFFFFF;
    text-decoration: none;
}

.style2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #7e00f8;
    text-decoration: none;
}

.style3 {
    font-size: 19px;
    font-family: "Montserrat";
    color: #1e0f3e;
    text-decoration: none;
}

.style3 span {
    color: #7e00f8;
    background-color: #c8b2f5;
    transition: 0.5s;
}

.style3 span:hover {
    color: #3cbdd4;
    font-size: 19.2px;
}

.style4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #7e00f8;
    text-align: center;
    text-decoration: none;
}

.style5 {
    font-family: "Montserrat";
    font-size: 25px;
    color: #FFFFFF;
}

.style6 {
    color: #96A0F0;
    font-family: "Montserrat";
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.style7 {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    color: white;
    text-decoration: none;
}


/****Reveal Scroll Down****/
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.scroll img {
    width: 150px;
}

/*Responsive para Ipad y Tablets*/
@media screen and (max-width:1000px) {
    .footer-cta {
        visibility: hidden;
        display: none;
    }

    .footer-text {
        visibility: hidden;
        display: none;
    }

    .foot-links {
        visibility: hidden;
        display: none;
    }

    .subs {
        visibility: hidden;
        display: none;
    }

    .footer-content {
        text-align: center;
    }

    .footer-social-icon span {
        visibility: hidden;
        display: none;
    }

    .lang {
        visibility: hidden;
        display: none;
    }
}